body{
	background:url(../images/blue.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
	margin:50px;
}

h1{
	font-family: "Times New Roman", Times, serif;
	text-shadow: 1.5px 1.5px #8888ff;
	color:blue;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 50%;
	background:#eeeff2;
}

ul{
	list-style-type: none;
}
li{
	color:blue;
	font-size:30px;
}
	
.row{
	font-size:20px;
	cursor:pointer;
	color:red;
	font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
}
	
.headings{
	border-right:2px solid blue;
	border-left:2px solid blue;
	text-align:center;
	border-radius:15px;
}

.info{
	text-align:center;
	font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
	font-size:20px;
}
