version: 2
updates:
  # Maintain dependencies for npm
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"

  # Maintain dependencies for bundler (Ruby/Jekyll)
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "weekly"
