---
layout: default
title: Home
---
<header class="header-home {% if site.animation %}animated{% endif %}">
        <a class="link" href="{{ site.url }}/about">
            <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image == true %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
        </a>

        <h1 class="title" style="font-weight: 500">{{ site.name }}</h1>
        <h2 class="description" style="opacity: 0.5">a.k.a. CodeMaxx</h2>
        <h2 class="description" style="color: #3399ff">{{ site.bio }}</h2>
</header>
<center>{% include social-links.html %}</center>
<center><h4 style="font-weight: 300; opacity: 0.5;">
“Stay Hungry. Stay Foolish.”<br>
<pre style="border: none;">             - Steve Jobs</pre>
</h4></center>
{% include nav.html %}
<nav class="nav-home" style="margin-top: 20px">
<ul class="list">
<li class="item">
    <a class="link" rel="canonical" href="/assets/resume.pdf" style="width: 120px">[ My Resume ]</a>
</li>
</ul>
</nav>
{% include footer.html %}
