---
layout: default
permalink: /projects/index.html
title: Projects
---
{% include nav.html %}
{% include header.html %}
<center><h4 style="font-weight: 300; opacity: 0.5;">
“If I had asked people what they wanted, they would have said faster horses.”<br>
<pre style="border: none;">                                                            - Henry Ford</pre>

</h4></center>
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star == true %}star{% endif %}">
                {% if post.external_url %}
                <a class="url" href="{{ post.external_url }}" onclick="ga('send', 'pageview', '/' + {{ post.url }});">
                {% else %}
                <a class="url" href="{{ site.url }}{{ post.url }}">
                {% endif %}
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>

<p style="color: #ff0000">Note: This is rarely updated and does not have all my projects. Please see my <a href="https://www.github.com/CodeMaxx">Github</a> for recent updates.</p>

{% include footer.html %}
