---
layout: default
permalink: /projects/index.html
title: Projects
---
{% include nav.html %}
{% include header.html %}

<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>

<h2>Hobby Projects</h2>

<ul>
    <li><a href="https://github.com/nihal111/MooDLD">MooDLD</a> - Moodle Downloader for IITB</li>
    <li><a href="https://github.com/nihal111/RPG/tree/gh-pages">Video RPG</a> - Role Playing Game where users interaact through Video</li>
    <li><a href="https://github.com/CodeMaxx/SyncYoutube">Sync Youtube</a> - Syncs a Youtube channel to a local directory</li>
    <li><a href="https://github.com/CodeMaxx/CS101-Checkers">Checkers with AI</a> - Traditional Checkers Game</li>
    <li><a href="https://github.com/CodeMaxx/Breakout">Breakout</a> - Escape by destroying all the pieces</li>
</ul>

<p></p>

<h2>Open Source</h2>

<ul>
    <li><a href="https://github.com/symengine/symengine">SymEngine</a> - C++ library for Symbolic Computations</li>
    <li><a href="https://github.com/sympy/sympy">SymPy</a> - Python library for Symbolic Computations</li>
    <li><a href="https://github.com/mozilla/wptview">wptview</a>Mozilla's project for displaying Web Platform Tests.</li>
</ul>
<br><br>
{% include footer.html %}
