{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
   or page.title == "About"
   or page.title == "Write-ups"
%}{% assign showHeader = true %}{% endif %}

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

{% seo %}

{% feed_meta %}

{% include nav.html %}

{% if showHeader == true %}
<style>
.selfie{
  width: 100px;
  margin-bottom: 10px;
  border-radius: 100%;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  box-shadow: 0;
  opacity: 1;
}
.page {
  margin-top: 75px;
}
</style>
{% include nav.html %}
<center><img class="selfie" style='width: 80px' alt="{{ site.name }}" src="{% if site.external-image == true %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" /></center>

<center><h3 style="display: inline;">Akash Trehan  </h3> </center>
<center><h5 style="display: inline;opacity: 0.8; color: #3399ff; font-style: normal; font-weight: 300" class="description glitch" data-text="{{ site.bio }}">{{ site.bio }}</h5></center><br>

{% seo %}
{% endif %}
