---
layout: default
---
{% include header.html %}
<h1 class="title" style="color: #3399ff">{{ page.title }}</h1>

<span class="date">
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}
</span>

{% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
            <a class="item" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}

{{content}}


<br><br><br>

{% include follow-buttons.html %}

<hr>

<a href="{{ page.previous.url }}">{{ page.previous.title }}</a><aside style="display: inline; float: right"><a href="{{ page.next.url }}">{{ page.next.title }}</a></aside>

<hr>

{% if site.related %}
    {% include related.html %}
{% endif %}

{% include author.html %}

{% if site.disqus %}
    {% include disqus.html %}
{% endif %}

{% include footer.html %}
