---
layout: default
title: Write-ups
---
{% include header.html %}
<section class="list" style="display: flex; flex-direction: column-reverse">
	{% if site.writeups.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% elsif site.paginate %}
		{% for post in paginator.posts %}
	        {% include write-ups.html %}
	    {% endfor %}

		{% if site.paginate %}
			{% include pagination.html%}
		{% endif %}
	{% else %}
		{% for post in site.writeups %}
			{% include write-ups.html %}
		{% endfor %}
	{% endif %}
</section>

{% include footer.html %}
